In [1]:
from sqlalchemy import Column, Integer, String, DateTime, Boolean
from sqlalchemy.orm import sessionmaker, declarative_base
from sqlalchemy import create_engine
import psycopg2
import json
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import re

In [2]:
with open('../Connection/conection.json', 'r') as json_file:
    data = json.load(json_file)
    user = data["user"]
    password = data["password"]
    port= data["port"]
    server = data["host"]
    db = data["database"]

db_connection = f"postgresql://{user}:{password}@{server}:{port}/{db}"
engine=create_engine(db_connection)
print(f"connected to {db_connection}")

connected to postgresql://postgres:koby@localhost:5432/WorkShop2

In [ ]:
Session = sessionmaker(bind=engine)
session = Session()

Base = declarative_base()

class Grammys(Base):
    __tablename__ = 'grammys'
    id = Column(Integer, primary_key=True, autoincrement=True)
    year = Column(Integer, nullable=False)
    title = Column(String(100), nullable=False)
    published_at = Column(DateTime, nullable=False)
    updated_at = Column(DateTime, nullable=False)
    category = Column(String(100), nullable=False)
    nominee = Column(String(100), nullable=False)
    artist = Column(String(100), nullable=False)
    workers = Column(String(100), nullable=False)
    img = Column(String(100), nullable=False)
    winner = Column(Boolean, nullable=False)

Base.metadata.create_all(engine)
Grammys.__table__

print("Table created")

In [ ]:
class File:
    def __init__(self, file):
        self.df = pd.read_csv(file, sep=',', encoding='utf-8')

In [ ]:
data = File('../Data/the_grammy_awards.csv')
data.df.to_sql('grammys', engine, if_exists='replace', index=False)
print("Data inserted")

In [3]:
table_name = 'grammys'
grammysTable = pd.read_sql_table(table_name, engine)
df_grammys = grammysTable
df_grammys.head(5)

,year,title,published_at,updated_at,category,nominee,artist,workers,img,winner
0,2019,62nd Annual GRAMMY Awards (2019),2020-05-19T05:10:28-07:00,2020-05-19T05:10:28-07:00,Record Of The Year,Bad Guy,Billie Eilish,"Finneas O'Connell, producer; Rob Kinelski & Fi...",https://www.grammy.com/sites/com/files/styles/...,True
1,2019,62nd Annual GRAMMY Awards (2019),2020-05-19T05:10:28-07:00,2020-05-19T05:10:28-07:00,Record Of The Year,"Hey, Ma",Bon Iver,"BJ Burton, Brad Cook, Chris Messina & Justin V...",https://www.grammy.com/sites/com/files/styles/...,True
2,2019,62nd Annual GRAMMY Awards (2019),2020-05-19T05:10:28-07:00,2020-05-19T05:10:28-07:00,Record Of The Year,7 rings,Ariana Grande,"Charles Anderson, Tommy Brown, Michael Foster ...",https://www.grammy.com/sites/com/files/styles/...,True
3,2019,62nd Annual GRAMMY Awards (2019),2020-05-19T05:10:28-07:00,2020-05-19T05:10:28-07:00,Record Of The Year,Hard Place,H.E.R.,"Rodney “Darkchild” Jerkins, producer; Joseph H...",https://www.grammy.com/sites/com/files/styles/...,True
4,2019,62nd Annual GRAMMY Awards (2019),2020-05-19T05:10:28-07:00,2020-05-19T05:10:28-07:00,Record Of The Year,Talk,Khalid,"Disclosure & Denis Kosiak, producers; Ingmar C...",https://www.grammy.com/sites/com/files/styles/...,True

In [ ]:
df_grammys.shape

In [ ]:
df_grammys.dtypes

In [ ]:
# Valores nulos en las columnas en un grafico de barras horizontales

df_grammys.isnull().sum().plot(kind='barh', figsize=(10, 6))
plt.show()

In [ ]:
df_grammys.isnull().sum()

In [ ]:
df_grammys['year'].min(), df_grammys['year'].max()

In [ ]:
df_grammys['category'].value_counts()

In [ ]:
df_grammys['winner'].value_counts()

In [ ]:
# 10 Categorias mas ganaoras

top_10_categories = df_grammys['category'].value_counts().head(10)
top_10_categories.plot(kind='bar', figsize=(10, 6))
plt.show()

In [ ]:
# 10 artistas mas ganadores

top_10_artists = df_grammys['artist'].value_counts().head(10)
top_10_artists.plot(kind='bar', figsize=(10, 6))
plt.show()

In [ ]:

df_grammys.isnull().sum()

In [4]:
condition_1 = df_grammys['artist'].isnull() & df_grammys['workers'].str.contains(r'\(.*\)')
df_grammys.loc[condition_1, 'artist'] = df_grammys.loc[condition_1, 'workers'].apply(lambda x: re.search(r'\((.*?)\)', x).group(1) if isinstance(x, str) and re.search(r'\((.*?)\)', x) else None)

In [5]:
# VEr valores nulos restantes

df_grammys.isnull().sum()

year               0
title              0
published_at       0
updated_at         0
category           0
nominee            6
artist           474
workers         2190
img             1367
winner             0
dtype: int64

In [6]:
condition_2= df_grammys['workers'].str.contains('[;,]', na=False) & ~df_grammys['workers'].str.contains(r'\(.*\)', na=False) & df_grammys['artist'].isnull()
df_grammys.loc[condition_2, 'artist'] = df_grammys.loc[condition_2, 'workers'].str.split('[;,]').str[0].str.strip()

In [7]:
df_grammys.isnull().sum()

year               0
title              0
published_at       0
updated_at         0
category           0
nominee            6
artist           197
workers         2190
img             1367
winner             0
dtype: int64

In [8]:
condition_3 = df_grammys['category'].str.contains('Best New Artist') | df_grammys['category'].str.contains('Best New Artist Of') & df_grammys['artist'].isnull()
df_grammys.loc[condition_3, 'artist'] = df_grammys.loc[condition_3, 'nominee']

In [9]:
df_grammys.isnull().sum()

year               0
title              0
published_at       0
updated_at         0
category           0
nominee            6
artist           132
workers         2190
img             1367
winner             0
dtype: int64

In [ ]:
# Identificar nombre de artistas dentro de la columna "img"
df_grammys.loc[df_grammys['img'].str.contains('artist', case=False, na=False), 'artist'] = df_grammys.loc[df_grammys['img'].str.contains('artist', case=False, na=False), 'img'].str.split('/').str[-1].str.split('.').str[0].str.replace('_', ' ').str.title()

In [10]:
condition_4 = (df_grammys['category'] == 'Producer Of The Year') | (df_grammys['category'] == 'Producer Of The Year Non-Classical')
df_grammys.loc[condition_4, 'artist'] = df_grammys.loc[condition_4, 'nominee']

In [11]:
df_grammys.isnull().sum()

year               0
title              0
published_at       0
updated_at         0
category           0
nominee            6
artist           122
workers         2190
img             1367
winner             0
dtype: int64

In [ ]:
# Localizar donde hay mas nulos en la columna artist

nulos = df_grammys.loc[df_grammys['artist'].isnull()]

nulos

In [12]:
condition_5 = df_grammys['artist'].isnull() & (df_grammys['category'].str.contains('Gospel Performance') | df_grammys['category'].str.contains('Small Ensemble Performance') | df_grammys['category'].str.contains('Music Performance'))
df_grammys.loc[condition_5, 'artist'] = df_grammys.loc[condition_5, 'workers']

In [13]:
df_grammys.isnull().sum()

year               0
title              0
published_at       0
updated_at         0
category           0
nominee            6
artist           113
workers         2190
img             1367
winner             0
dtype: int64

In [ ]:
# Ver que otros nulos hay

nulos = df_grammys.loc[df_grammys['artist'].isnull()]
nulos

In [14]:
condition_6 = df_grammys['artist'].isnull() & df_grammys['category'].str.contains('Solo')
df_grammys.loc[condition_6, 'artist'] = df_grammys.loc[condition_6, 'workers']

In [15]:
df_grammys.isnull().sum()

year               0
title              0
published_at       0
updated_at         0
category           0
nominee            6
artist           111
workers         2190
img             1367
winner             0
dtype: int64

In [16]:
condition_7 = df_grammys['artist'].isnull() & df_grammys['category'].str.contains('Producer')
df_grammys.loc[condition_7, 'artist'] = df_grammys.loc[condition_7, 'nominee']

In [17]:
grammysTable.isnull().sum()

year               0
title              0
published_at       0
updated_at         0
category           0
nominee            6
artist            34
workers         2190
img             1367
winner             0
dtype: int64

In [ ]:
nulos = df_grammys.loc[df_grammys['artist'].isnull()]
nulos

In [ ]:
# Elimminar nulos restantes

df_grammys = df_grammys.dropna()

In [ ]:
df_grammys.isnull().sum()

In [18]:
# Eliminar columnas innecesarias

df_grammys = df_grammys.drop(columns=['workers', 'img', 'published_at', 'updated_at'])

In [19]:
df_grammys.head()

,year,title,category,nominee,artist,winner
0,2019,62nd Annual GRAMMY Awards (2019),Record Of The Year,Bad Guy,Billie Eilish,True
1,2019,62nd Annual GRAMMY Awards (2019),Record Of The Year,"Hey, Ma",Bon Iver,True
2,2019,62nd Annual GRAMMY Awards (2019),Record Of The Year,7 rings,Ariana Grande,True
3,2019,62nd Annual GRAMMY Awards (2019),Record Of The Year,Hard Place,H.E.R.,True
4,2019,62nd Annual GRAMMY Awards (2019),Record Of The Year,Talk,Khalid,True

In [21]:
# Renombrar columnas winner y gateogory

df_grammys.rename(columns={'winner': 'was_nominated', 'category': 'award'}, inplace=True)

df_grammys.head()

,year,title,award,nominee,artist,was_nominated
0,2019,62nd Annual GRAMMY Awards (2019),Record Of The Year,Bad Guy,Billie Eilish,True
1,2019,62nd Annual GRAMMY Awards (2019),Record Of The Year,"Hey, Ma",Bon Iver,True
2,2019,62nd Annual GRAMMY Awards (2019),Record Of The Year,7 rings,Ariana Grande,True
3,2019,62nd Annual GRAMMY Awards (2019),Record Of The Year,Hard Place,H.E.R.,True
4,2019,62nd Annual GRAMMY Awards (2019),Record Of The Year,Talk,Khalid,True

In [28]:
# Pasar was_nominated a boolean 1 y 0

df_grammys['was_nominated'] = df_grammys['was_nominated'].map({True: 1, False: 0})

df_grammys.head()

,year,title,award,nominee,artist,was_nominated
0,2019,62nd Annual GRAMMY Awards (2019),Record Of The Year,Bad Guy,Billie Eilish,1
1,2019,62nd Annual GRAMMY Awards (2019),Record Of The Year,"Hey, Ma",Bon Iver,1
2,2019,62nd Annual GRAMMY Awards (2019),Record Of The Year,7 rings,Ariana Grande,1
3,2019,62nd Annual GRAMMY Awards (2019),Record Of The Year,Hard Place,H.E.R.,1
4,2019,62nd Annual GRAMMY Awards (2019),Record Of The Year,Talk,Khalid,1

In [23]:
df_grammys.dtypes

year              int64
title            object
award            object
nominee          object
artist           object
was_nominated     int64
dtype: object

In [25]:
df_grammys['was_nominated'] = df_grammys['was_nominated'].astype(bool)

In [26]:
df_grammys.dtypes

year              int64
title            object
award            object
nominee          object
artist           object
was_nominated      bool
dtype: object

In [29]:
df_grammys.head()

,year,title,award,nominee,artist,was_nominated
0,2019,62nd Annual GRAMMY Awards (2019),Record Of The Year,Bad Guy,Billie Eilish,1
1,2019,62nd Annual GRAMMY Awards (2019),Record Of The Year,"Hey, Ma",Bon Iver,1
2,2019,62nd Annual GRAMMY Awards (2019),Record Of The Year,7 rings,Ariana Grande,1
3,2019,62nd Annual GRAMMY Awards (2019),Record Of The Year,Hard Place,H.E.R.,1
4,2019,62nd Annual GRAMMY Awards (2019),Record Of The Year,Talk,Khalid,1